{% extends "base.html" %}

{% block title %}
ANASAYFA
{% endblock title %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="d-flex justify-content-center w-100 mb-3">
        <a href="/" class="btn btn-success btn-lg mx-3 w-25">Dosyalarımdan Ses Ekle</a>
        <a href="/harcamalari_goruntule" class="btn btn-success btn-lg mx-3 w-25">Ses Kaydederek Ekle</a>
        <a href="/urunleri_goruntule" class="btn btn-success btn-lg mx-3 w-25">Sesleri Görüntüle</a>
    </div>
    {% comment %} <div class="d-flex justify-content-center w-100">
        <a href="/islemleri_goruntule" class="btn btn-success btn-lg mx-3 w-50">Tamamlanmamış İşlemleri Görüntüle</a>
    </div> {% endcomment %}
</div>
<style>
    .btn-success {
        border-radius: 10px;
        font-size: 1.2rem;
        padding: 15px 30px;
        transition: transform 0.2s ease, background-color 0.3s ease;
    }

    .btn-success:hover {
        background-color: #28a745; /* Daha koyu bir yeşil */
        transform: scale(1.05); /* Hafif büyüme efekti */
    }

    .w-25 {
        width: 25%;
    }

    .w-50 {
        width: 50%;
    }
</style>
{% endblock content %}